{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for movie in pagination %}
            <div class="col s12 m8 offset-m2">
                <div class="card-panel center">
                    <h5>{{ movie.title }}</h5>
                    <p>
                        Réalisé par {{ movie.director }}<br>
                        Sorti en {{ movie.releasedAt|date('Y') }}
                    </p>
                    <hr>
                    <p>
                        {% for like in movie.likes %}
                            {% if not loop.first %}, {% endif %}{{ like.user.username }}
                            {% if loop.last and loop.index == 1 %}
                                aime.
                            {% elseif loop.last %}
                                aiment.
                            {% endif %}
                        {% endfor %}
                        <br>
                        {% for dislike in movie.dislikes %}
                            {% if not loop.first %}, {% endif %}{{ dislike.user.username }}
                            {% if loop.last and loop.index == 1 %}
                                n'aime pas.
                            {% elseif loop.last %}
                                n'aiment pas.
                            {% endif %}
                        {% endfor %}
                    </p>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <p>
                            <a href="{{ path('appreciation', {'movieId': movie.id, 'appreciationValue': 'liked'}) }}" class="btn-flat orange-text text-darken-2">J'aime</a>
                            <a href="{{ path('appreciation', {'movieId': movie.id, 'appreciationValue': 'notLiked'}) }}" class="btn-flat orange-text text-darken-2">Je n'aime pas</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col s12">
            <div class="navigation center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}