{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h5 class="center">Ajouter un film</h5>
        </div>
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                {{ form_start(movieForm) }}

                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_errors(movieForm.title) }}
                            {{ form_widget(movieForm.title) }}
                            {{ form_label(movieForm.title) }}
                        </div>
                        <div class="input-field col s12 m6">
                            {{ form_errors(movieForm.director) }}
                            {{ form_widget(movieForm.director) }}
                            {{ form_label(movieForm.director) }}
                        </div>
                        <div class="input-field col s12 m6">
                            {{ form_errors(movieForm.releasedAt) }}
                            {{ form_widget(movieForm.releasedAt) }}
                        </div>
                        <div class="input-field col s12">
                            <button type="submit" class="btn fullwidth orange darken-2">Valider</button>
                        </div>
                    </div>

                {{ form_end(movieForm) }}
            </div>
        </div>
    </div>
{% endblock %}