<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    </head>
    <body>
        <nav class="orange darken-2">
            <div class="nav-wrapper container">
                <a href="{{ path('homepage') }}" class="brand-logo">Films</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('create_movie') }}">Nouveau film</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Nouveau membre</a></li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="{{ path('recommendations') }}">Recommandations</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
