{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

    <div class="row">

        <div class="col s12">
            <h5 class="center">Enregistrer un nouveau membre</h5>
        </div>

        <div class="col s12 l8 offset-l2">
            <div class="card-panel white">
            
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                    {# Email #}
                    <div class="col s12 input-field">
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_label(form.email) }}
                    </div>

                    {# Nom d'utilisateur #}
                    <div class="col s12 input-field">
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username) }}
                        {{ form_label(form.username) }}
                    </div>

                    {# Mot de passe #}
                    {% for password in form.plainPassword %}
                        <div class="col s12 input-field">
                            {{ form_errors(password) }}
                            {{ form_widget(password) }}
                            {{ form_label(password) }}
                        </div>
                    {% endfor %}

                    <div>
                        <button type="submit" class="btn fullwidth waves-effect waves-light orange darken-2">{{ 'registration.submit'|trans }}</button>
                    </div>
                {{ form_end(form) }}

            </div>
        </div>

    </div>

{% endblock %}
