header {
    margin-bottom: 30px;
}

nav a {
    font-weight: normal;
}

.fullwidth {
    width: 100%;
}

[type="checkbox"] + label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    pointer-events: auto;
}

nav {
    margin-bottom: 30px;
}

body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main { flex: 1 0 auto; }

h4 {
    margin-bottom: 30px;
}


/* Surcharge Materialize CSS */

.btn, a.btn {
    font-weight: normal;
    height: 46px;
    line-height: 46px;
}

.nav-breadcrumb {
    webkit-box-shadow: none;
    box-shadow: none;
}

.waves-effect {
    width: 100%;
}

.autocomplete-content {
    position: absolute;
}